<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dlacours.anyadstodos"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.dlacours.anyadstodos.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ArchiveListActivities"
            android:label="@string/title_activity_archive_list_activities" >
        </activity>
        <activity
            android:name="MailItemsActivityy"
            android:label="@string/title_activity_mail_items" >
        </activity>
        <activity
            android:name="ArchiveTasksActivity"
            android:label="@string/title_activity_archive_tasks" >
        </activity>
        <activity
            android:name="SummariesActivity"
            android:label="@string/title_activity_summaries" >
        </activity>
        <activity
            android:name="EditTasksActivity"
            android:label="@string/title_activity_edit_tasks" >
        </activity>
    </application>

</manifest>
